node_modules
webpack.config.js
pom.xml
.jazzignore
.eslintrc.json
.project
.babelrc
.factorypath
.nyc_output/
.settings/
.vscode/
coverage/
etc/
node/
target/
tests/
WebContent/app.min.js
WebContent/js/store
WebContent/index.html
